
    .custom-modal {
        background-color: #f8f9fa; /* Change to your desired color */
    }

    .custom-modal .modal-header {
        background-color: #343a40; /* Change to your desired header color */
        color: #ffffff; /* Change to your desired text color */
    }

    .custom-modal .modal-footer {
        background-color: #343a40; /* Change to your desired footer color */
        color: #ffffff; /* Change to your desired text color */
    }

    .modal-content {
    background-color: transparent;
}